# هذا الملف خاص بالامور التي اعمل لها تجاهل وقبول موغيرها من الامور في السيرفر و الاماكن الاخرى 


# علامة النجمة هنا حتى يقوم بتحاهل اي ملف يكون الامتداد الخاص به المذكور بعد النجمة اي لا يمكن ان يراه اصلا 

*.log

# لكي استثني اي ملف حسب الامتداد الذي تمت منعها من قبل عن طريق ما يلي 
# اقوم بوضع علامة التعجب وبعدها اسم الملف 

!vip.log